@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Roboto+Condensed&display=swap');

* {
    color: #1a1818;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-image: linear-gradient(to left, #7b34eefb, rgba(33, 7, 63, 0.842));
}

/* -------------  Index.html --------------- */

/* cabeçalho */

header {
    background-color: #2f3133;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo a {
    color: #7023ec;
    font-size: 27px;
    text-decoration: none;
}

.itens_menu {
    display: flex;
}

.itens_menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    padding: 10px;
}

/* centro - about */

.about_website {
    max-width: 600px;
    text-align: center;
    margin: 60px auto;
    font-size: 15px;
}

.about_website h1 {
    text-shadow: 0 0 10px #000000e8;
    letter-spacing: 4px;
    color: #f5f1f1;
    font-size: 5em;
}

.about_website > p {
    color: #f1ededda;
    text-decoration: underline;
    font-size: 24px;
    margin: 10px 0;
}

form {
    margin: 30px auto;
}

#seacrh {
    background-color: #f6f6f7;
    color: #0c0c0c;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000008a;
    border: none;
    font-size: 20px;
    width: 60%;
    padding: 10px;
    margin: auto;
}

.btn_search {
    background-color: #7023ec;
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    border: none;
}

.btn_search {
    cursor: pointer;
    padding: 10px;
}

option {
    color: #0c0c0c;
}

/* rodapé  */

footer {
    color: #ffffff;
}

/* gerador de informações */

.gerador {
    display: none;
}

.check_list {
    display: none;
}

.id_cep {
    display: none;
}

li:hover > p {
    color: #ffffff54;
    display: block;
    transition: .5s;
    background-color: rgba(53, 53, 235, 0.514);
}

li > p:hover {
    color: #ffffffcc;
    cursor: pointer;
    margin: 20px 0;
}

.aplication {
    color: #f1ededda;
    text-shadow: 0 0 10px #000000e8;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 30px;
}

.functions {
    font-size: 20px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    margin-bottom: 100px;
}

.functions li {
    margin: 10px 0;
}

.functions a {
    background-color: #ffffff;
    box-shadow: 0 0 7px #0000005d;
    border-radius: 10px;
    display: block;
    font-size: 1.2em;
    color: #272727;
    padding: 10px;
    margin: 20 0px;
}

li > p {
    background-color: #f3effaa1;
    padding: 10px;
    border: #2f3133;
    border-radius: 6px;
}

.about_website>p {
    text-decoration: none;
}


/* ----------------  Gerador de senhas -------------------  */


.res-password {
    background-color: #fff;
    color: #0c0c0ca8;
    text-shadow: 0;
    border-radius: 6px;
    padding: 20px;
}

.gerator-password {
    background-color: #2421214d;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
}

.gerator-password label {
    display: block;
    font-size: 20px;
    margin: 10px 0;
}

input {
    display: block  ;
}

label {
    color: #fff;
    margin: 10px 0 ;
    font-size: 13px;
}


.btn-gerete-password {
    background-color: #5574fc;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    margin: 10px 0 0 0 ;
    padding: 5px 10px;
}

select {
    font-size: 17px;
    padding: 5px;
    display: block;
    color: #0c0c0c;
}

#quantWordsOrLetters {
    width: 50px;
    font-size: 18px;
    padding: 4px;
}

#quantCaraters {
    font-size: 20px;
    width: 50px;
}

.paragraph {
    color: #fff;
    margin: 10px 0;
}

.digitecep {
    width: 200px;
    margin: 20px auto;
}

.digitecep {
    width: 200px;
    margin: 20px auto;
}

.qtdn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow:0 0 10px #000000e8;
}

#checked_type_password {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow:0 0 10px #000000e8;
}

.data-cep {
    background-color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    margin: 20px auto;
}


/* ----------------  Check List -------------------  */

.nometarefa {
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
    border: none;
    box-shadow:0 0 10px #000000e8;
}

.nometarefa {
    width: 250px;
    margin: auto;
}

#descricaotarefa {
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    text-indent: 10px;
    box-shadow:0 0 10px #000000e8;
}

div > p {
    color: #f1ededda;
    text-shadow: 0 0 10px #000000e8;
    font-weight: bold;
    font-size: 1.5em;
}

div > button {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    width: 150px;
    box-shadow:0 0 10px #000000e8;
}

.salvartarefa {
    text-align: center;
    height: 80px;
    margin-top: 5px;
}


.digitecep {
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}


.conatainer_tasks {
    background-color: #f5f1f1;
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px #0000007a;
    position: relative;
}


.tasks {
    background-color: #2222221c;
    color: #ffffff;
    margin: 10px ;
    position: relative;
    padding: 10px;
    text-align: left;
}

.date {
    position: absolute; 
    top: 5px;
    right: 5px;
    font-size: 14px;
}

.btn_remove_task {
    background-color: #f14223;
    border: none;
    color: #ffffffe3;
    cursor: pointer;
    width: 60px;
    box-shadow: 0 0 0 #00000000;
    position: absolute; 
    top: 0;
    right: 0;
    padding: 10px;
    transition: .5s;
}

.btn_remove_task:hover {
    background-color: #e62806;
}

/* ----------------  Devs  -------------------  */

.imgs {
    background-color: white;
    display: flex;
    justify-content:space-around ;
    width: 1200px;
    height: 800px;
    padding: 20px;
    box-shadow: 0 0 10px;

}

.img {
    width: 150px;
    padding: 40px;
    border-radius: 100%;
}

.imgs {
    text-align: center;
    margin: auto;
}

.biography {
    text-align: justify;
    font-size: small;
    color: #0c0c0c;
    margin: 10px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.icons {
    padding: 10px;
    width: 30px;
    height: auto;
}

.background_imgg {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
    margin: 20px 0;
    border-radius: 10px;
    width: 300px;
}

